<div class="d-flex">

  <div class="bg-dark border-rigth p-3" id="sidebar">
      <h3 class="text-light">
        Gift-App
      </h3>

      <hr class="text-white">
      <div class="list-gropu list-reset">
        <a href="#" class="list-group-item list-group-item-action ">
            Dashboard
        </a>
      </div>
  </div>
  <!--End sidebard-->
  <div class="container">
      <div class="row p-3">
        <div class="col">
            <h5>
              Buscar:
            </h5>
            <input type="text" class="form-control" placeholder="Buscando gift...">
        </div>
      </div>
      <hr>

      <div class="row">
          <div class="col">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo corporis autem vel totam sequi excepturi quam voluptas aspernatur cupiditate velit, maxime praesentium ea saepe dolor expedita quas, fugit veritatis quod!
          </div>
      </div>
  </div>
</div>

